<h1 class="text-center">Bookmarks</h1>
<div class="container">
  <%= simple_form_for [@list, @bookmark], url: list_bookmarks_path(@list) do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%# <%= f.association :list %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>

</div>
